In [76]:
import pandas as pd
import geopandas as gpd
import matplotlib as plt
import numpy as np

pd.set_option('mode.chained_assignment', None)
pd.set_option('display.max_columns', 500)

In [3]:
new_data = pd.read_stata('/Users/danielgrenell/Documents/Erica Vladimer Data/12cdenhancedupdate1019_clean.dta')

In [78]:
df = new_data[['precinct', 'voters_age', 'voters_birthdate', 'primary_20180626', 'primary_20180913', 'special_20190226', 'primary_20190625']]

In [79]:
df['under_30'] = df.voters_age.apply(lambda x: 1 if x<30 else 0)
df['under_60'] = df.voters_age.apply(lambda x: 1 if x<60 else 0)

In [80]:
elections = ['special_20190226', 'primary_20190625', 'primary_20180913', 'primary_20180626']
# look at 6-25 multiple columns to see if there's a difference
# add columns for 2 and not 1
# add column for first vote in 6-25
# 4x voters
# final data frame -- rows will be election districts, columns = total voters from other spreadsheet, number voters
# in all 4 elections, number under 30 voters, number under 60 voters, average age in each election,

In [81]:
for election in elections:
    df[election] = df[election].apply(lambda x: 1 if x=='Y' else 0)
    df[election + "date"] = pd.to_datetime(election[-8:], format='%Y%m%d')

In [82]:
df['KEY'] = df.precinct.apply(lambda x: int(x[-2:] + x[-6:-3]))

In [83]:
df['voters_birthdate'] = pd.to_datetime(df['voters_birthdate'])

In [84]:
for election in elections:
    df["age_in_"+election] = round((df[election+'date']-df['voters_birthdate']).astype(int)/(60*60*24*365*1000000000),2)

In [85]:
df['four_x'] = df[elections[0]]*df[elections[1]]*df[elections[2]]*df[elections[3]]

In [86]:
df['skipped_patel'] = ((df[elections[2]]==1) & (df[elections[3]]==0)).astype(int)

In [87]:
df['new_voter'] = ((df[elections[1]]==1) & (df[elections[0]]==0) & (df[elections[2]]==0) & (df[elections[3]]==0)).astype(int)

In [88]:
df['four_x_under_30'] = df.four_x * df.under_30
df['four_x_under_60'] = df.four_x * df.under_60

In [89]:
df.drop(['precinct', 'voters_age', 'voters_birthdate', 'special_20190226date', 'primary_20190625date', 'primary_20180913date', 'primary_20180626date'], axis=1, inplace=True)

In [90]:
df.rename(columns={"primary_20180626": "06-26-2018", "primary_20180913": "09-13-2018", "special_20190226": "02-26-2019", 'primary_20190625': '06-25-2019', "age_in_primary_20180626": "age_in_06-26-2018", "age_in_primary_20180913": "age_in_09-13-2018", "age_in_special_20190226": "age_in_02-26-2019", 'age_in_primary_20190625': 'age_in_06-25-2019'}, inplace=True)

In [91]:
cols = ['KEY', '06-26-2018', '09-13-2018', '02-26-2019', '06-25-2019',
        'age_in_02-26-2019', 'age_in_06-25-2019', 'age_in_09-13-2018', 'age_in_06-26-2018',
        'under_30', 'under_60', 'new_voter', 'four_x', 'four_x_under_30', 'four_x_under_60', 'skipped_patel']
df = df[cols]

In [92]:
dates = ['06-26-2018', '09-13-2018', '02-26-2019', '06-25-2019']
for date in dates:
    df['age_in_' + date] = df[date] * df['age_in_' + date]
    df['age_in_' + date].replace({0: np.NaN}, inplace=True)

In [93]:
sum_group = ['KEY', '06-26-2018', '09-13-2018', '02-26-2019', '06-25-2019', 'under_30', 'under_60', 'new_voter', 'four_x', 'four_x_under_30', 'four_x_under_60', 'skipped_patel']
avg_group = ['KEY', 'age_in_02-26-2019', 'age_in_06-25-2019', 'age_in_09-13-2018', 'age_in_06-26-2018']
sum_df = df[sum_group].groupby(['KEY']).sum()
avg_df = df[avg_group].groupby(['KEY']).mean()

In [94]:
avg_df

,age_in_02-26-2019,age_in_06-25-2019,age_in_09-13-2018,age_in_06-26-2018
KEY,,,,
30038,46.369846,43.097529,44.653832,42.559231
30056,46.133276,44.235566,43.849700,44.379500
30064,43.152222,42.917321,43.243750,43.057000
30066,43.935857,43.635172,44.648073,42.914474
30067,42.906364,43.011558,46.532771,43.430862
30068,46.276714,42.434567,44.319167,43.722838
30069,52.388070,47.222100,49.561933,47.933864
30078,41.180513,41.339206,40.511786,38.030400
30079,44.237538,40.900933,41.653936,40.090833
36001,58.806709,55.467710,57.906281,58.370314
36002,63.125698,58.295741,60.774476,61.214808
36003,41.736667,40.448125,40.380000,39.633415
36004,42.946000,39.869346,39.408922,44.149315
36005,44.756711,41.006147,41.745094,43.016000
36006,41.682198,39.370620,42.775362,45.210571
36007,38.771522,36.389600,40.500241,39.126842
36008,50.230000,48.757917,50.143968,50.574625
36009,46.160870,43.732903,45.108281,44.347000
36010,45.952264,42.712989,43.439205,40.347636
36011,52.090896,45.256286,47.464301,46.566182
36012,42.933667,40.569691,41.606509,38.803750
36013,46.128904,43.838288,47.014741,43.590111
36014,58.147000,47.134321,46.248667,45.271207
36015,40.423846,36.929053,41.591923,42.135937
36016,41.228286,39.317984,39.024167,37.522667
36017,44.055750,40.004632,40.691791,41.455941
36018,43.635570,40.255984,39.466850,40.734382
36019,42.831286,40.862364,40.624035,42.699737
36020,48.969367,43.032901,45.476978,46.348571
36021,43.162609,40.629301,43.139375,41.104510
...,...,...,...,...
76066,50.495952,NaN,49.668358,49.856613
76067,57.566400,NaN,57.799402,54.768161
76068,63.006761,NaN,63.060811,62.832222
76069,60.837865,NaN,62.191793,60.135612
76070,64.035233,NaN,64.748651,64.080741
76071,61.124928,NaN,62.018018,58.647564
76072,54.750648,NaN,55.106500,53.639000
76073,57.363800,26.360000,59.895529,59.208873
76074,55.084557,NaN,56.460926,55.846966
76075,57.660109,28.720000,58.657124,58.056547
76076,51.710250,NaN,51.803186,53.009381
76077,60.335408,NaN,59.519871,58.832254
76078,64.988214,NaN,65.754130,63.861810
76079,62.481538,29.940000,62.473763,59.385000
76080,46.783125,NaN,49.342577,48.195116
76081,49.126935,NaN,47.267945,47.025077
76082,60.490476,NaN,53.832192,50.068133
76083,64.171746,NaN,65.939112,65.934891
76084,60.105484,NaN,59.788092,58.546167
76085,62.244658,NaN,62.275963,61.429783
76086,53.944915,NaN,56.329114,53.165072
76087,49.938667,NaN,49.504474,47.912500
76088,62.208769,NaN,61.177525,60.504651
76089,51.612973,NaN,53.127213,49.321020
76090,21.490000,NaN,21.040000,NaN
76099,50.280526,NaN,53.157439,53.797831
76100,52.436582,NaN,53.555929,53.824343
76101,68.373750,NaN,67.139206,64.963774
76102,58.546500,NaN,68.852879,66.286531
76103,58.811136,NaN,50.504386,57.954118

In [95]:
df = sum_df.merge(avg_df, on='KEY')

In [96]:
df.to_csv('Four election data by ED.csv')