In [1]:
import pandas as pd

In [2]:
kings = pd.read_csv('KingsED_feb19.csv', header = 4)
queens = pd.read_csv('QueensED_feb19.csv', header = 4)
ny = pd.read_csv('NewYorkED_feb19.csv', header = 4)

df = pd.concat([kings, queens, ny])

In [3]:
df = df.dropna(how = 'all', axis = 0)
df = df.dropna(how = 'all', axis = 1)
df = df[df['STATUS']=='Total']

In [4]:
df['KEY'] = df['ELECTION DIST'].str[-5:]

In [5]:
df

,COUNTY,ELECTION DIST,STATUS,DEM,REP,CON,WOR,GRE,LBT,IND,SAM,OTH,BLANK,TOTAL,KEY
3,Kings,Kings 41001,Total,501,161,3,1,3,0.0,24,0.0,1,230,924,41001
7,Kings,Kings 41002,Total,503,232,4,0,0,0.0,9,0.0,0,219,967,41002
11,Kings,Kings 41003,Total,637,221,8,1,3,0.0,28,0.0,0,257,"1,155",41003
15,Kings,Kings 41004,Total,469,186,2,0,0,1.0,16,0.0,0,291,965,41004
19,Kings,Kings 41005,Total,478,207,6,1,2,2.0,18,0.0,0,211,925,41005
23,Kings,Kings 41006,Total,498,202,4,2,1,2.0,26,0.0,0,317,"1,052",41006
27,Kings,Kings 41007,Total,620,197,4,2,1,1.0,27,0.0,0,335,"1,187",41007
31,Kings,Kings 41008,Total,513,241,10,1,2,2.0,30,0.0,1,312,"1,112",41008
35,Kings,Kings 41009,Total,488,266,13,6,0,0.0,26,0.0,0,281,"1,080",41009
39,Kings,Kings 41010,Total,318,159,0,4,0,0.0,10,0.0,1,233,725,41010
43,Kings,Kings 41011,Total,188,89,1,1,0,0.0,10,0.0,0,91,380,41011
47,Kings,Kings 41012,Total,271,133,0,2,1,0.0,15,0.0,0,117,539,41012
51,Kings,Kings 41013,Total,37,10,0,0,0,0.0,3,0.0,0,14,64,41013
55,Kings,Kings 41014,Total,108,32,1,1,0,0.0,9,0.0,0,62,213,41014
59,Kings,Kings 41015,Total,135,54,0,0,1,0.0,5,0.0,0,60,255,41015
63,Kings,Kings 41016,Total,350,160,4,4,1,0.0,14,0.0,0,145,678,41016
67,Kings,Kings 41017,Total,468,255,9,0,0,2.0,26,0.0,0,195,955,41017
71,Kings,Kings 41018,Total,303,199,5,0,0,0.0,10,0.0,0,136,653,41018
75,Kings,Kings 41019,Total,56,30,3,0,0,0.0,4,0.0,0,29,122,41019
79,Kings,Kings 41020,Total,450,99,2,2,0,0.0,12,0.0,0,133,698,41020
83,Kings,Kings 41021,Total,542,162,3,5,0,0.0,13,0.0,0,145,870,41021
87,Kings,Kings 41022,Total,120,51,2,0,0,0.0,3,0.0,0,50,226,41022
91,Kings,Kings 41023,Total,101,4,1,0,0,0.0,7,0.0,0,9,122,41023
95,Kings,Kings 41024,Total,116,23,1,0,0,0.0,2,0.0,0,28,170,41024
99,Kings,Kings 41025,Total,165,22,0,0,2,0.0,4,0.0,0,39,232,41025
103,Kings,Kings 41026,Total,95,4,0,0,0,0.0,2,0.0,0,11,112,41026
107,Kings,Kings 41027,Total,389,44,2,0,0,1.0,8,0.0,0,78,522,41027
111,Kings,Kings 41028,Total,889,75,6,8,2,0.0,26,0.0,0,161,"1,167",41028
115,Kings,Kings 41029,Total,72,3,1,0,0,0.0,1,0.0,0,47,124,41029
119,Kings,Kings 41030,Total,798,45,2,2,3,0.0,18,0.0,0,137,"1,005",41030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4868,New York,New York 76067,Total,697,217,2,1,1,1.0,55,0.0,1,300,"1,275",76067
4872,New York,New York 76068,Total,703,198,4,2,2,0.0,42,0.0,1,276,"1,228",76068
4876,New York,New York 76069,Total,635,159,1,1,0,2.0,24,0.0,2,232,"1,056",76069
4880,New York,New York 76070,Total,455,114,1,0,1,1.0,22,0.0,0,125,719,76070
4884,New York,New York 76071,Total,704,226,5,2,2,3.0,49,0.0,0,306,"1,297",76071
4888,New York,New York 76072,Total,728,197,0,0,0,2.0,46,0.0,1,246,"1,220",76072
4892,New York,New York 76073,Total,496,150,1,0,1,0.0,40,0.0,0,194,882,76073
4896,New York,New York 76074,Total,503,120,2,0,2,0.0,39,0.0,0,168,834,76074
4900,New York,New York 76075,Total,697,180,2,1,1,2.0,49,0.0,0,257,"1,189",76075
4904,New York,New York 76076,Total,798,178,3,1,3,3.0,51,0.0,3,298,"1,338",76076
4908,New York,New York 76077,Total,682,167,1,1,4,1.0,32,0.0,1,235,"1,124",76077
4912,New York,New York 76078,Total,514,120,1,1,0,0.0,24,0.0,0,123,783,76078
4916,New York,New York 76079,Total,735,186,1,1,1,1.0,52,0.0,1,310,"1,288",76079
4920,New York,New York 76080,Total,730,173,5,2,0,3.0,57,0.0,1,328,"1,299",76080
4924,New York,New York 76081,Total,537,117,2,2,2,1.0,43,0.0,0,209,913,76081
4928,New York,New York 76082,Total,741,104,2,1,1,2.0,40,0.0,0,275,"1,166",76082
4932,New York,New York 76083,Total,697,62,2,1,1,0.0,17,0.0,0,178,958,76083
4936,New York,New York 76084,Total,728,102,4,4,2,1.0,33,0.0,1,206,"1,081",76084
4940,New York,New York 76085,Total,732,76,2,4,5,3.0,28,0.0,0,216,"1,066",76085
4944,New York,New York 76086,Total,657,116,2,5,4,3.0,32,0.0,0,235,"1,054",76086
4948,New York,New York 76087,Total,368,36,2,0,1,0.0,17,0.0,0,78,502,76087
4952,New York,New York 76088,Total,587,182,3,0,0,0.0,37,0.0,1,263,"1,073",76088
4956,New York,New York 76089,Total,411,123,3,0,0,2.0,40,0.0,0,178,757,76089
4959,New York,New York 76090,Total,1,0,0,0,0,0.0,0,0.0,0,0,1,76090
4963,New York,New York 76099,Total,628,170,2,0,0,2.0,49,0.0,0,244,"1,095",76099
4967,New York,New York 76100,Total,623,149,4,3,5,2.0,29,0.0,0,209,"1,024",76100
4971,New York,New York 76101,Total,481,157,1,0,2,0.0,40,0.0,0,244,925,76101
4975,New York,New York 76102,Total,397,205,1,0,1,0.0,26,0.0,1,183,814,76102
4979,New York,New York 76103,Total,363,73,3,1,0,0.0,27,0.0,0,131,598,76103
4983,New York County Total,NaN,Total,"807,600","110,300","2,036","2,178","2,312",904.0,"32,474",0.0,685,"222,936","1,181,425",NaN