In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib as plt

pd.set_option('display.max_columns', 500)

In [3]:
new_data = pd.read_stata('12cdenhancedupdate1019_clean.dta')

In [26]:
new_data['under_30'] = new_data.voters_age.apply(lambda x: 1 if x<30 else 0)
new_data['under_60'] = new_data.voters_age.apply(lambda x: 1 if x<60 else 0)

In [30]:
elections = ['special_20190226', 'primary_20190625', 'primary_20180913', 'primary_20180626']
# look at 6-25 multiple columns to see if there's a difference
# add columns for 2 and not 1
# add column for first vote in 6-25
# 4x voters
# final data frame -- rows will be election districts, columns = total voters from other spreadsheet, number voters
# in all 4 elections, number under 30 voters, number under 60 voters, average age in each election,

In [43]:
new_data['primary_20180626'] = new_data['primary_20180626'].apply(lambda x: 1 if x=='Y' else 0)

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
74312    True
74313    True
74314    True
74315    True
74316    True
74317    True
74318    True
74319    True
74320    True
74321    True
74322    True
74323    True
74324    True
74325    True
74326    True
74327    True
74328    True
74329    True
74330    True
74331    True
74332    True
74333    True
74334    True
74335    True
74336    True
74337    True
74338    True
74339    True
74340    True
74341    True
Name: primary_20180626, Length: 74342, dtype: bool

In [39]:
new_data['P_primary_20180626'].values.sum()

40162

In [ ]:
new_data

In [17]:
type(new_data.voters_age[0])

numpy.float64

In [13]:
new_data['key'] = new_data.precinct.apply(lambda x: int(x[-2:] + x[-6:-3]))

In [14]:
new_data['key']

0        50002
1        50002
2        50002
3        50002
4        50002
5        50002
6        50002
7        50002
8        50002
9        50002
10       50002
11       50002
12       50002
13       50002
14       50002
15       50002
16       50002
17       50002
18       50002
19       50002
20       50002
21       50002
22       50002
23       50002
24       50002
25       50002
26       50002
27       50002
28       50002
29       50002
         ...
74312    37088
74313    37088
74314    37088
74315    37088
74316    37088
74317    37088
74318    37088
74319    37088
74320    37088
74321    37088
74322    37088
74323    37088
74324    37088
74325    37088
74326    37088
74327    37088
74328    37088
74329    37088
74330    37088
74331    37088
74332    37088
74333    37088
74334    37088
74335    37088
74336    37088
74337    37088
74338    37088
74339    37088
74340    37088
74341    37088
Name: key, Length: 74342, dtype: int64